@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-wiggle {
    animation: wiggle 1.5s ease-in-out infinite;
  }
}

@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(2deg); }
}

/* React toastify overrides */
:root {
  --toastify-color-light: #ECE3CA;
  --toastify-text-color-light: #793205;
}
